*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

section1{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    
}
 
.part2{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;   
}

nav h1{
    font-size: 40px;

}

nav h1 i{
    font-size: 50px;
     rotate: 45deg;
    display: inline-block;

}

nav h4{
    font-size: 30px;
    font-weight: 500px;
}

nav button{
    padding: 15px 30px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
}

.center{
    padding:  70px 100px;
    height: 85%;
    width: 100%;
    display: flex;
}

.center-part1{
    
    height: 100%;
    width: 56%;
}


.center-part1 h1{
    font-size: 75px;
    line-height: 1.3;
    font-family: 'Noto Sans JP', sans-serif;
}

.center-part1 p{
   font-size: 30px;
   width: 85%;
   margin-top: 30px;
   margin-bottom: 30px;
}

.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 18px 38px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    margin-bottom: 25px;
}

.center-part2 {
    height: 100%;
    width: 44%;
    display: flex;
    justify-content: flex-end; /* push image right */
    align-items: center;       /* center vertically */
}

.center-part2 img {
    height: auto;
    width: 120%;
}

.section1boyyom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section1boyyom img{
    height: 50px;
}

.section2 .services{
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 50px;
}

.services h3{
   background-color: #9AE975;
   font-weight: 500;
   padding: 2px 10px 0 10px;
   border-radius: 5px;
   font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
}

.services p{
    width: 40%;
    font-size: 15px;
    font-weight: 500;
    
}

.container{
    height: 83%;
    width: 100%;
    padding: 30px 110px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 35px;
}

.elem{
    flex-shrink: 0;
    height: 250px;
    width: 38%;
    border: 3px solid rgb(54, 54, 54);
  padding: 40px;
    border-radius: 50px;
    box-shadow: 0px 5px 0 rgb(26, 25, 25);
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2{
    height: 100%;
    width: 50%;
     display: flex;
    justify-content: flex-end; /* push image right */
    align-items: center;   
    
}

.elem-part2 img{
    height: 100%;
}

.elem-part1 h2{
    font-size: 25px;
    width: 80%;
    font-weight: 500;
    background-color:#9AE975; 
    border-radius: 10px;
     font-family: 'Noto Sans JP', sans-serif;
}

.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
     font-family: 'Noto Sans JP', sans-serif;
}

.elem-part1 h4 i{
    padding: 5px;
    background-color: black;
    color: #fff;
    font-weight: 900;
    border-radius: 50%;
}

.black{
    background-color: black;
}

.line2 h2{
 background-color: white;
}

.line2 .elem-part1 h4 {
    color: white;
    
}

.line2 .elem-part1 h4 i{
    background-color:white;
    color:black;
}

.section3 .case{
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 50px;
}

.case h3{
   background-color: #9AE975;
   font-weight: 500;
   padding: 2px 10px 0 10px;
   border-radius: 5px;
   font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
     font-family: 'Noto Sans JP', sans-serif;
}

.case p{
    width: 40%;
    font-size: 15px;
    font-weight: 500;
    
}

.section4{
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 20px;
}
.foter {
    height: 350px;
    width: 80%;
    padding: 0px 100px;
    background-color: rgb(40, 38, 38);
    border-radius: 50px; 
    display: flex;
    align-items: center;
    gap: 20px;
     justify-content: space-evenly;
    margin: 0 auto; 
    
}

.footer{
    padding-top: 25px;
}

.footer p{
    color: white;
    width: 60%;
    font-weight: 500;
    font-size: 20px;
}

.footer h4{
    color: #9AE975;
    margin-top: 40px;
    font-size: 25px;
  display: flex;
  gap: 20px;
   font-family: 'Noto Sans JP', sans-serif;
}

.bor{
     border-right: 2px solid white;
     margin: 25px;
}

