*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    
}
 
.part2{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;   
}

nav h1{
    font-size: 40px;

}

nav h1 i{
    font-size: 50px;
     rotate: 45deg;
    display: inline-block;

}

nav h4{
    font-size: 30px;
    font-weight: 500px;
}

nav button{
    padding: 15px 30px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
}

.center{
    padding:  70px 100px;
    height: 85%;
    width: 100%;
    display: flex;
}

.center-part1{
    
    height: 100%;
    width: 78%;
}


.center-part1 h1{
    font-size: 75px;
    line-height: 1.3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.center-part1 p{
   font-size: 30px;
   width: 85%;
   margin-top: 30px;
   margin-bottom: 30px;
}

.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 18px 38px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    margin-bottom: 25px;
}

.center-part2{
    height: 100%;
    width: 56%;
    position: relative;
}

.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;
    padding: 60px 0px ;
    
}

.section1boyyom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section1boyyom img{
    height: 50px;
}